


.left_child {
  width: 100%;
  height: 100%;
  display: flex; /* optional, depending on layout */
  flex-direction: column; /* optional */
}


.left_side_styles {
  flex: 0 0 25%;
  max-width: 25%;
  height: 100vh;
  background-color: aliceblue;
  /* background-color: antiquewhite; */
}

  
  .right_side_styles {
    flex: 0 0 75%;
    max-width: 75%;
    background: #f8f9fa; /* Optional background */
    height: 100vh;
  }
  
  html, body, #root {
    height: 100%;
    overflow-x: hidden;
  }
  


  
  