/* Disable body scrolling */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100%;
}

/* Ensure the root container takes full height without scrolling */
#root {
  height: 100vh;
  overflow: hidden;
}

  
  /* html, body, #root {
    height: 100%;
    overflow-x: hidden;
  } */
  


  
  














   