
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.flex_scroll ::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar globally while keeping scroll functionality */
* {
  scrollbar-width: none;            /* Firefox */
  -ms-overflow-style: none;         /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, and Opera */
}

@keyframes rotateBounce360 {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(380deg); 
  }
  75% {
    transform: rotate(350deg); 
  }
  85% {
    transform: rotate(365deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-alternate {
  animation: rotateBounce360 9s ease-in-out infinite alternate;
  transform-origin: center;
  display: inline-block;
}


