@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Slight zoom in */
    }
    100% {
      transform: scale(1);
    }
  }
  
  .zoom-animation {
    animation: zoomInOut 3s infinite ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  