
.left_side_styles_child {
    background-color: aliceblue;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
  .left_side_styles_child::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .logout_css{
      position: absolute;
      bottom: 0;
      cursor: pointer;
      left: 0;
      text-align: center;
      padding: 10px;
      color: #020202;
      font-size: 9px;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  h5::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* adjust space below text */
    height: 2px;
    background-color: white;
  }
  