

.left_child {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column; 
  }
  
  
  .left_side_styles {
    flex: 0 0 25%;
    max-width: 25%;
    height: 100vh;
    background-color: aliceblue;
  }
  
    
    .right_side_styles {
      flex: 0 0 75%;
      max-width: 75%;
      background: #f8f9fa; 
      height: 100vh;
    }