.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgb(59, 127, 187);
}


@media (max-width: 767px) {
  .form-outline input {
    font-size: 16px;
  }

  .btn-lg {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }

  .card-body {
    padding: 2rem !important;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slight zoom in */
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoomInOut 3s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

@keyframes rotateBounce360 {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(380deg); 
  }
  75% {
    transform: rotate(350deg); 
  }
  85% {
    transform: rotate(365deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-alternate {
  animation: rotateBounce360 9s ease-in-out infinite alternate;
  transform-origin: center;
  display: inline-block;
}

.shiny-border {
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
  transition: box-shadow 0.3s ease-in-out;
}
.shiny-border:hover {
  box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff;
}
